@model Business

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/MyPlaces", "MyPlaces"), ("","Edit") })>
<div asp-roles="Admin,Manager" class="card rounded shadow p-3">
    <h3 class="mb-3">Edit Business</h3>
</div>

<div asp-roles="Admin,Manager" class="card rounded shadow p-3">
    
    <form asp-action="Edit">
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        
        <!-- we hide the id as its not user editable but needs to be in the -->
        <!-- form to ensure the business passed to the controller is complete -->    
        <input type="hidden" asp-for="Id" class="form-control"/>
      
        <partial name="_FormInputs" />
   
        <!-- submit button and cancel link which navigates to Index action -->
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary"/>
            <a class="btn btn-secondary" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>
@{
    ViewData["Title"] = "MyPlaces | C+";
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}