@model Event


<div class="form-group col">
    <label asp-for="Name" class="control-label">Venue Name</label>
    <input asp-for="Name" class="form-control" />
    <span asp-validation-for="Name" class="text-danger"></span>
</div>

<div class="form-group col">
    <label asp-for="StartTime" type="time" class="control-label">Select start time</label>
    <input asp-for="StartTime"   class="form-control" />
    <span asp-validation-for="StartTime" class="text-danger"></span>
</div>

<div class="form-group col">
    <label asp-for="EndTime" type="time" class="control-label">Select end time</label>
    <input asp-for="EndTime"  class="form-control" />
    <span asp-validation-for="EndTime" class="text-danger"></span>
</div>

