@{
    ViewData["Title"] = "Dashboard | C+";
}


<div class="container">
    <div class="row justify-content-between mb-5">
        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="\Images\MyEnvironmentLogo.png" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyEnvironment" asp-action="Index">MyEnvironment</a> 
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="\Images\MyChatsLogo.png" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyChats" asp-action="Index">MyChats</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\Images\MyNewsLogo.png" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyNews" asp-action="Index">MyNews</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-between">

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\Images\MyPhotosLogo.png" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyPhotos" asp-action="Index">MyPhotos</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\Images\HomePageBackGround.png" alt="Card image cap">
                <div class="card-body">
                   <a class="btn btn-primary" asp-controller="MyPlaces" asp-action="Index">MyPlaces</a> 
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="\Images\MyEventsLogo.png" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyEvents" asp-action="Index">MyEvents</a> 
                </div>
            </div>
        </div>

    </div>
    
</div>
