@{
    ViewData["Title"] = "Dashboard | C+";
}


<div class="container">
    <div class="row justify-content-between mb-5">
        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0005.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211026T015934Z&X-Amz-Expires=54378&X-Amz-Signature=6c08a758a18c292239642d2ea02c6fe598899fecf25842135ca053b0a668854b&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2017%3A05%3A52%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyEnvironment" asp-action="Index">MyEnvironment</a> 
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0003.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211026T010403Z&X-Amz-Expires=55334&X-Amz-Signature=32b226e0ab5f02a23cce026924074ed6d955a750d3217dc75d9c68eabf5dbe07&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2016%3A26%3A17%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyChats" asp-action="Index">MyChats</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0004.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211026T075814Z&X-Amz-Expires=33873&X-Amz-Signature=9da5a8e55ac8dba2570321ad138a88aaaf89b48eb8fa07e710579110860372a4&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2017%3A22%3A47%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyNews" asp-action="Index">MyNews</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-between">

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211026T070042Z&X-Amz-Expires=34575&X-Amz-Signature=8f89a40a83482eaf0ab79da0c8af8a4cc4d9bc9025b99633b875ae1ded6586a5&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2016%3A36%3A57%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyPhotos" asp-action="Index">MyPhotos</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211026%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211026T065606Z&X-Amz-Expires=35156&X-Amz-Signature=251704233193dcc57b940a4f1143a08d1c9033d5a63b597d8250ac3edfd49472&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2016%3A42%3A02%20GMT" alt="Card image cap">
                <div class="card-body">
                   <a class="btn btn-primary" asp-controller="MyPlaces" asp-action="Index">MyPlaces</a> 
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0006.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211025%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211025T153129Z&X-Amz-Expires=92807&X-Amz-Signature=470bb3940a38968350c6b80cb0d4fc0e2fc96963363ce625c30fa3fdfe6b170a&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2026%20Oct%202021%2017%3A18%3A16%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyEvents" asp-action="Index">MyEvents</a> 
                </div>
            </div>
        </div>

    </div>
    
</div>
