@{
    ViewData["Title"] = "Dashboard | C+";
}


<div class="container">
    <div class="row justify-content-between mb-5">
        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyEnvironment</a>
                </div>
            </div>
        </div>

        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyTalks</a>
                </div>
            </div>
        </div>

        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyNews</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-between">

        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyPhotos" asp-action="Index">MyPhotos</a>
                </div>
            </div>
        </div>

        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                   <a class="btn btn-primary" asp-controller="MyPlaces" asp-action="Index">MyPlaces</a> 
                </div>
            </div>
        </div>

        <div class="col 4">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyEvents</a>
                </div>
            </div>
        </div>

    </div>
</div>
