@{
    ViewData["Title"] = "Dashboard | C+";
}


<div class="container">
    <div class="row justify-content-between mb-5">
        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;" >
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0005.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T015934Z&X-Amz-Expires=79578&X-Amz-Signature=730b42f7f1b446e7f96bfac529ccd54c278690cd59b0b5af1af82828784cea1e&X-Amz-SignedHeaders=host&response-expires=Tue%2C%2012%20Oct%202021%2000%3A05%3A52%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyEnvironment</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem; ">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0003.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T010403Z&X-Amz-Expires=80534&X-Amz-Signature=efd92c0cdcf09054b1f0679327e83c45f12ac34880d4cede57d7761d51ae69d0&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2011%20Oct%202021%2023%3A26%3A17%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyTalks</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0004.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T075814Z&X-Amz-Expires=55473&X-Amz-Signature=47dafc29682f536116809458185e91509263bd64833bf90f370cd4d08f2369f7&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2011%20Oct%202021%2023%3A22%3A47%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyNews</a>
                </div>
            </div>
        </div>
    </div>



    <div class="row justify-content-between">

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0001.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T070042Z&X-Amz-Expires=59775&X-Amz-Signature=d8470fe53b75a6685a5133e58e0992f5e02cc3549a2b28487ecfd70a47bcafa6&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2011%20Oct%202021%2023%3A36%3A57%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a class="btn btn-primary" asp-controller="MyPhotos" asp-action="Index">MyPhotos</a>
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0002.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T065606Z&X-Amz-Expires=60356&X-Amz-Signature=fe511eddb31f93b9e4b9c0be6bc21cc356e7938ddd7785f2d590445a22071800&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2011%20Oct%202021%2023%3A42%3A02%20GMT" alt="Card image cap">
                <div class="card-body">
                   <a class="btn btn-primary" asp-controller="MyPlaces" asp-action="Index">MyPlaces</a> 
                </div>
            </div>
        </div>

        <div class="col 4 my-1 text-center">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="https://document-export.canva.com/mlEN4/DAEsjJmlEN4/48/thumbnail/0006.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAQYCGKMUHWDTJW6UD%2F20211011%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20211011T153129Z&X-Amz-Expires=28007&X-Amz-Signature=7b0301d3847464d0457698274e1d0ea5b6375c9d31a5963b9981277fb7d18b46&X-Amz-SignedHeaders=host&response-expires=Mon%2C%2011%20Oct%202021%2023%3A18%3A16%20GMT" alt="Card image cap">
                <div class="card-body">
                    <a href="#" class="btn btn-primary">MyEvents</a>
                </div>
            </div>
        </div>

    </div>
</div>
