@model Location
@{
    ViewData["Title"] = "Home Page";
}

<div class="card rounded shadow p-3 ">
    <div class="bg text-center" style="min-height: 375px;">
        <h1 class="display-4" >Welcome To Community+</h1>
        <h4 class="display-4" >In this together</h1>
            <p> <a href="/User/Register">Ready to Join a Community?</a></p>      
    </div>
</div>


<div asp-authorize class="card">
    <div asp-roles="Admin, Manager, Guest" class="card-body">
        <h4 class="card-title">Welcome to @Model.Name Community</h4>
        <p asp-roles="Admin, Manager, Guest">@Model.Description</p>  
    </div>
</div> 
