@{
    ViewData["Title"] = " Privacy Policy| C+";
}
<div class="card text-center shadow">
    <div class="card-header bg-info">
        <h2>Privacy Policy</h2>
    </div>
    <p class="text-dark"> This Privacy Policy explains when we process Personal Data for our legitimate business
        interests.

        <p>We use cookies and other technologies to track the use of our websites and apps.</p>

        <p>We do not sell your data.</p>

        <p>We transfer data across borders, including to and from the US and other locations. Where applicable, we abide by
        the unmodified EU Standard Contractual Clauses for Processors (as defined in the GDPR) pursuant to the European
        Commission Decision of 5 February 2010. We also comply with, and are self-certified under, the EU-U.S. Privacy
        Shield Framework and Swiss-U.S.</p>

        <p>We comply with the General Data Protection Regulation (the "GDPR") and other applicable European Union ("EU")
        privacy laws. If you are a resident of the European Economic Area ("EEA"), please see the GDPR Notice that
        applies to you.</p>
    </p>
</div>

