@model IList<Photo>

<partial name="_Breadcrumbs" model=@(new [] { ("/", "Home"), ("/Home/DashBoard", "DashBoard"), ("","MyPhotos") })/>

<div class="card rounded shadow p-3">
    <h3 class="mb-3">Gallery</h3>
    <a class="btn btn-sm btn-primary mb-3" asp-controller="MyPhotos" asp-action="Create" id="CreatePhoto">Create</a>
</div>

<div class=" container">
    <div class="row justify-content-between ">
           
        @foreach (var p in Model)
        {
           
        <div class= " card col-3 my-1 pt-4 pb-5 pr-1" > 
            
                <a asp-controller="MyPhotos" asp-action="Details"asp-route-id="@p.PhotoId">
                <img src="@p.PhotoDataUrl"  class =" card-img-top "/></a> 
            
        </div>
                   
            }<!--- Loop ends -->
        
    </div>
</div>

@{
    ViewData["Title"] = "MyPhotos | C+";
}
@section Scripts {
@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}